@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7b1fa2;
  --text-light-primary: #ffffff;
  --text-light-secondary: #eecffc;
  --text-dark-primary: #000000;
  --text-dark-secondary: #6d6f73;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-light-primary: var(--text-light-primary);
  --color-light-secondary: var(--text-light-secondary);
  --color-dark-primary: var(--text-dark-primary);
  --color-dark-secondary: var(--text-dark-secondary);

  --font-sans: var(--font-nunito);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
